.ag-theme-quartz {
    --background-color: transparent !important;
    --ag-foreground-color: #16213e 50%;
    --ag-background-color: rgb(249, 245, 227);
    --ag-header-foreground-color: rgb(0, 0, 0);
    --ag-header-background-color: rgb(230, 249, 58);
    --ag-odd-row-background-color: rgb(0, 0, 0, 0.03);
    --ag-header-column-resize-handle-color: #16213e 50%;
    --ag-font-size: 17px;
    --ag-font-family: monospace;
}