.btn-yellow {
  background-color: transparent !important;
  border: 2px solid #f7e888 !important; 
  color: #f7e888 !important;
  font-weight: 600;
  font-size: 1.1rem !important;         
  padding: 0.5rem 1.5rem !important;    
  transition: all 0.2s ease-in-out;
}

.btn-yellow:hover {
  background-color: #f7e888 !important; 
  border-color: #f7e888 !important;
  color: #000000 !important;            
}